*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1084px;
    margin: 0 auto;
}
.flexBlock{
    display: flex;
}
.flexBlockSpaceBetween{
    display: flex;
    justify-content: space-between;
}

.dialogItem{
    width: 260px;
}
.dialogName{
    display: block;
    text-decoration: none;
    color: #222222;
    padding: 3px 0 3px 0;
}
.dialogName img{
    display: inline-block;
    width: 55px;
    height: 55px;
    border-radius: 50px;
    vertical-align: middle;
    margin: 0 7px 0 1px;
}
.dialogNameBlock{
    cursor: pointer;
    border: 1px solid lightgrey;
    border-radius: 40px;
    margin-bottom: 5px;
}
.dialogNameBlock :hover{
    background-color: rgba(182, 206, 246, 0.3);
    border-radius: 40px;
}
.dialogNameBlock :selected{
    background-color: rgba(182, 206, 246, 0.3);
    border-radius: 40px;
}
.dialogNameBlock :active{
    background-color: rgba(182, 206, 246, 0.3);
    border-radius: 40px;
}
.dialogNameBlock :focus{
    background-color: rgba(182, 206, 246, 0.3);
    border-radius: 40px;
}