*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1084px;
    margin: 0 auto;
}
.flexBlock{
    display: flex;
}
.flexBlockSpaceBetween{
    display: flex;
    justify-content: space-between;
}

.dialogItem{
    border: 1px solid lightgrey;
    width: 220px;
    border-radius: 29px;
    align-items: center;
}
.dialogName{
    text-decoration: none;
    color: #222222;
    margin-top: 25px;
}
.dialogNameBlock{
    margin-left: 10px;
}
.dialogAva img{
    width: 55px;
    height: 55px;
    border-radius: 50px;
}