*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1084px;
    margin: 0 auto;
}
.flexBlockSpaceBetween{
    display: flex;
    justify-content: space-between;
}


.navBlock{
    padding: 15px 0 15px 0;
}
.menuBlock{
    padding-top: 5px;
}
.menu{
    display: flex;
}
.menuItem{
    list-style-type: none;
}
.menuItem a{
    color: #222222;
    text-decoration: none;
    padding: 0 10px 0 10px;
}
.menuItem a.activeLink{
    color: gold;
}
.menuItem a:last-child{
    padding: 0 0 0 10px;
}
