*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1084px;
    margin: 0 auto;
}
.flexBlock{
    display: flex;
}
.flexBlockSpaceBetween{
    display: flex;
    justify-content: space-between;
}

.userBlock{
    margin-bottom: 30px;
    width: 500px;
}

.userItem{
    border: 1px solid lightgrey;
    border-radius: 39px;
    display: flex;
    justify-content: space-between;
    padding: 2px 20px 2px 1px;
}
.userItem img{
    width: 75px;
    height: 75px;
    border-radius: 70px;
}

.flexColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.userButtonBlock{
    text-align: right;
}
.userButton{
    border-radius: 70px;
    width: 100px;
    cursor: pointer;
}